<!DOCTYPE html>
<html>
<head>
  <title>Employee Homepage</title>
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <!-- Angular Script-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    
  <style type="text/css">
   .jumbotron{
    background:black;
    color:white;
   }

  </style>
  </head>
  
<body ng-app="myApp" ng-controller="myCtrl" ng-init="initial()">
  
  <div class="jumbotron">
  <div class="container">
  <div class="row">
			<div class="col-sm-7">&nbsp;</div>
			<a class="btn btn-success col-sm-2" href="http://localhost:8080/Todo/rest/app/returnEmp">Refresh</a>
			<div class="col-sm-1">&nbsp;</div>
			<a class="btn btn-light col-sm-2" href="http://localhost:8080/Todo/homepage.html">Logout</a>
		</div>
    <div class="row"><div class="col-sm-12"><p></p></div></div>
    <div class="row">
    <div class="col-sm-3">&nbsp</div>
    <h1 class="col-sm-8 display-3">Welcome Employee</h1>
    </div>
	</div>
  </div>
   
    <!-- Some Gap -->
    <p style="padding:30px;"></p>
    
    <!-- Creating the list -->
  
  <div class="container">
  <ul class="list-group">
    <li ng-repeat="x in myVal" class="{{colors[x.status]}}" >
    
      <div class="row">
      <div class = "col-sm-4">{{x.content}}</div> 
      
      <div class="col-sm-7">
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Change Status
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown">
          <a class="dropdown-item" href="" ng-click="update($event)" id={{x.id}} name="incomplete">incomplete</a>
          <a class="dropdown-item" href="" ng-click="update($event)" id={{x.id}} name="started">started</a>
          <a class="dropdown-item" href="" ng-click="update($event)" id={{x.id}} name="finished">finished</a>
          </div>
      </div>
    </div>
    
    <span class="badge badge-dark col-sm-1">{{x.status}}</span>
    </div>
    </li>
  </ul>
  </div>



<!-- Bootstrap Scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
<script>
  
  var app = angular.module("myApp",[]);
  app.controller("myCtrl", function($scope,$http,$window){
    $scope.getData = function()
    {
      $http.get("http://localhost:8080/Todo/rest/app/getTodo")
      .then(function(response){
        $scope.myVal=response.data;
      });
    }
    $scope.initial = function()
    {
      $scope.myVal="{'content':'No Todo',status:'no'}";
      $scope.getData();
      $scope.colors={'incomplete':'list-group-item list-group-item-danger','started':'list-group-item list-group-item-warning','finished':'list-group-item list-group-item-success','no':'list-group-item list-group-item-secondary'};
    }
    
    $scope.update = function($event)
    {
      
      var id = angular.element($event.target).attr('id');
      var newStatus = angular.element($event.target).attr('name');
      
      console.log(id+" "+newStatus+" clicked");
      
      $http.post('http://localhost:8080/Todo/rest/app/'+id+'/'+newStatus)
      .then(function(data){
        $window.location.href = "http://localhost:8080/Todo/employee.html";    
              
      })
      
      
      
      
    }
  });
</script>
</html>